<h2>Edit Library</h2>

<form {{action 'saveLibrary' model on="submit"}} class="lib-form">
    <p>
        <label for="newname">Name :</label>
        {{input type="text" id="name" value=model.name placeholder="Name of the Library"}}
    </p>
    <p>
        <label for="address">Address :</label>
        {{input type="text" id="address" value=model.address placeholder="The address of the Library"}}
    </p>
    <p>
        <label for="phone">Phone :</label>
        {{input type="text" id="phone" value=model.phone placeholder="The phone number of the Library"}}
    </p>
    <p>
        {{input type="submit" value="Edit" disabled=isDisabled}}
    </p>
</form>